

<h1>Vronki's cocktail book</h1>
<ul>
<% @cocktails.each do |cocktail| %>
  <li><%= link_to cocktail.name, cocktail_path(cocktail[:id]) %>
<% end %>
  </li>
</ul>

<%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-primary btn-lg" %>
